<% provide(:title, "プロフィール") %>
<h1>about me</h1>

<% if @user.admin? %>
  <h3>管理者ユーザー</h3>
<% end %>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.introduction %>
<h3>年齢</h3>
<%= @age %>

<% if current_user.id == @user.id %>
  <p><%= link_to '編集', edit_user_registration_path %></p>
<% end %>

<p><%= link_to 'お気に入り', favorites_path %></p>


<div class="row">
  <div class="col-md-9">
    <% if @user.post.any? %>
      <h3>投稿 (<%= @user.post.count %>)</h3>
      <ol class="posts">
        <%= render @post %>
      </ol>
      <%= will_paginate @post %>
    <% end %>
  </div>
</div>
