<div class="form-image">
  <div class="form-image__title">
    <label for="">投稿画像</label>
    <span>必須</span>
    <div class="form-image__text">
      5マイまでアップロードできます
    </div>
    <div>
      <p><label><%= radio_button_tag 'image_change', "change" %>画像を変更する</label></p>
      <p><label><%= radio_button_tag 'image_change', "not_change" %>画像を変更しない</label></p>
    </div>

    <div id="image-area" class="edit_radio_button">
      <%= hidden_field_tag :image_count %>
      <%= f.fields_for :images do |i| %>
        <div class="clearfix">
          <ul id="previews">
            <li class="input">
              <label class="upload-label">
                <div class="upload-label__text">
                  <i class="far fa-images"><br>クリック、または画像をドラッグ</i>
                  <div class="input-area">
                    <%= i.file_field :image_url, disabled:true, class: "hidden image_upload edit_image_upload " %>
                  </div>
                </div>
              </label>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

  </div>
</div>
