<li id="post-<%= post.id %>">
  <span class="area"><%= link_to post.area, "#" %></span>
  <span class="place"><%= link_to post.place, "#" %></span>
  <span class="description"><%= post.description %></span><br>
  <span class="required_time">所要時間：<%= post.required_time %>分</span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前に投稿
  </span>
</li>
