<% comment_user = User.find(comment.user_id) %>
<li id="comment-<%= comment.id %>">
  <div class="row comments-li">
    <div class="col-md-1 icon">
      icon
    </div>
    <div class="col-md-9 comments-content">
      <div class="name">
        <span class="user"><%= link_to comment_user.name, "/users/show/#{comment_user.id}" %></span>
      </div>
      <div class="content">
        <span class="comment"><%= comment.content %></span>
      </div>
      <div class="date">
        <span class="comment-create-at"><%= time_ago_in_words(comment.created_at) %>前</span>
      </div>
    </div>
    <div class="col-md-2 delete">
      <% if current_user.id == comment.user_id %>
        <%= link_to "削除", comment_path(comment), method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</li>
